<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{ '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    <a title='{{ site.social.name }}'href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
        {{- site.data.locales[include.lang].copyright.brief -}}
      </span>
    {% endif %}
  </p>
  <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Ziyaretçi Sayısı"> <span><i class="fa-solid fa-users text-success"></i>&nbsp; </span> <em id="okuyan"></em></span>  
</footer>
