---
layout: compress
# Default layout
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% capture prefer_mode %}
  {% if site.theme_mode %}
    data-mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

{% if layout.tail_includes %}
  {% assign has_tail = true %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row">
          <main
            aria-label="Main Content"
            class="col-12 col-lg-11 col-xl-9 px-md-4{% unless has_tail %} pb-5{% endunless %}"
          >
              <div class="row" id="dovizbar">
                <div class="col-2 text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-dollar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path>
                    <path d="M12 3v3m0 12v3"></path>
                  </svg>
                  <label style="font-size: smaller;">Dolar:</label>
                  <label id="dolar" style="font-size: smaller;"></label>
                </div>	
                <div class="col-2 text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-euro" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17.2 7a6 7 0 1 0 0 10"></path>
                    <path d="M13 10h-8m0 4h8"></path>
                  </svg>
                  <label style="font-size: smaller;">Euro:</label>
                  <label id="euro" style="font-size: smaller;"></label>
                </div>
                <div class="col-2 text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coins" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z"></path>
                    <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4"></path>
                    <path d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z"></path>
                    <path d="M3 6v10c0 .888 .772 1.45 2 2"></path>
                    <path d="M3 11c0 .888 .772 1.45 2 2"></path>
                  </svg>
                  <label style="font-size: smaller;">Altın:</label>
                  <label id="altin" style="font-size: smaller;"></label>
                </div>	
                <div class="col-3 text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-bank" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="3" y1="21" x2="21" y2="21"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                    <polyline points="5 6 12 3 19 6"></polyline>
                    <line x1="4" y1="10" x2="4" y2="21"></line>
                    <line x1="20" y1="10" x2="20" y2="21"></line>
                    <line x1="8" y1="14" x2="8" y2="17"></line>
                    <line x1="12" y1="14" x2="12" y2="17"></line>
                    <line x1="16" y1="14" x2="16" y2="17"></line>
                  </svg>
                  <label style="font-size: smaller;">BIST : </label>
                  <label id="bist" style="font-size: smaller;"></label>
                </div>
                <div class="col-3 text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-bitcoin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 6h8a3 3 0 0 1 0 6a3 3 0 0 1 0 6h-8"></path>
                    <line x1="8" y1="6" x2="8" y2="18"></line>
                    <line x1="8" y1="12" x2="14" y2="12"></line>
                    <line x1="9" y1="3" x2="9" y2="6"></line>
                    <line x1="13" y1="3" x2="13" y2="6"></line>
                    <line x1="9" y1="18" x2="9" y2="21"></line>
                    <line x1="13" y1="18" x2="13" y2="21"></line>
                  </svg>
                  <label style="font-size: smaller;">BTC:</label>
                  <label id="btc" style="font-size: smaller;"></label>
                </div>                
              </div>
            {{ content }}
          </main>

          <!-- panel -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 text-muted">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if has_tail %}
              {% for _include in layout.tail_includes %}
                {% assign _include_path = _include | append: '.html' %}
                {% include {{ _include_path }} lang=lang %}
              {% endfor %}
            {% endif %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html %}
  </body>
</html>
