---
layout: default
---

{% capture _content %}
  {% if layout.refactor or page.layout == 'page' %}
    {% include refactor-content.html content=content lang=lang %}
  {% else %}
    {{ content }}
  {% endif %}
{% endcapture %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
      {{ _content }}
    </div>
  {% else %}
    {{ _content }}
  {% endif %}
</article>

<div
    class="
      post-tail-bottom
      d-flex justify-content-between align-items-center mt-5 pb-2
    "
  >
    <div class="license-wrapper">
      {% if site.data.locales[lang].copyright.license.template %}
        {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

        {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
      {% endif %}
    </div>

    
      {% include post-sharing.html lang=lang %}
  </div>
  {% if page.addcoments == true %}
    {% include comment-section.html url=page.url %}
  {% endif %}  
