---
layout: default
---

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}


{% capture content %}
  {% for post in posts %}
  {% if forloop.index == 1 %}
      <article class="card-wrapper"> 
        <!--- Reklam --->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2142653859194978"
        crossorigin="anonymous"></script>
        <!-- Test -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2142653859194978"
        data-ad-slot="3907106401"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </article>
    {% endif %}
    {% if forloop.index == 2 %}
      <article class="card-wrapper"> 
        <a href="#" title='Hukuk Sözlüğü' class="card post-preview flex-md-row-reverse border border-warning" id="sozlukid">
          <div class="card-body d-flex flex-column">
            <h2 class="card-title my-2 mt-md-0" id="kelime">Sözlük</h2>
            <div class="card-text content mt-0 mb-2">
              <p id="anlami"></p>
            </div>
            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <span>Kaynak : Adalet Bakanlığı - Hukuk Sözlüğü </span>
              </div>
            </div>			
          </div>
          <div class="preview-img d-flex flex-row justify-content-center align-items-center"><i class="fa fa-hashtag fa-fw me-1 fa-4x align-middle" style = "color: #d500f9"><h2>Sözlük</h2></i></div>    
        </a>
      </article>
    {% endif %}
    <article class="card-wrapper">
      <a href="{{ post.url | relative_url }}" title='{{ post.title }}' class="card post-preview flex-md-row-reverse">
        {% if post.date > site.time - 7 %}
        <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">Yeni</span>
        {% endif %}
        
        {% if post.image %}
          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          <img src="{{ src }}" w="17" h="10" alt="Adliyeci.com.tr" {{ lqip }}>
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h2 class="card-title my-2 mt-md-0">{{ post.title }}</h2>

          <div class="card-text content mt-0 mb-2">
            <p>
              {% include no-linenos.html content=post.content %}
              {{ content | markdownify | strip_html | truncate: 200 | escape }}
            </p>
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <!-- posted date -->
              <i class="far fa-calendar fa-fw me-1 text-primary"></i>
              {% include datetime.html date=post.date lang=lang %}

              <!-- categories -->
              {% if post.categories.size > 0 %}
                <i class="far fa-folder-open fa-fw me-1 text-danger"></i>
                <span class="categories">
                  {% for category in post.categories %}
                    {{ category }}
                    {%- unless forloop.last -%},{%- endunless -%}
                  {% endfor %}
                </span>
              {% endif %}
            </div>

            {% if post.pin %}
              <div class="pin ms-1">
                <i class="fas fa-thumbtack fa-fw text-warning"></i>
                <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
              </div>
            {% endif %}
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </a>
    </article>
  {% endfor %}
{% endcapture %}

<div id="post-list" class="flex-grow-1 pe-xl-2">
  {% include refactor-content.html content=content lang=lang %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
