---
title: Memur Maaş Hesaplama 2024
keywords: adliyede müdür maaşları, maaş, memur maaş, adliye memur maaşları, Merkez Bankası %67,22, enflasyon farkı, 2024 maaş hesaplama, katip maaş hesaplama, mübaşir maaş hesapla, gardiyan maaş, sendika kesintisi, adliyede müdür maaşları, adliye memur maaşları
permalink: /maasyeni/
layout: gokhan
subcat: maaş
comments: true
addcoments: true
---

    <div class="alert alert-success" role="alert">
      <p>Yeni Katsayılar sisteme işlenmiştir. 05/01/2024</p>
    </div>
    
   
  
    <div class="page-body">
    <div class="container-l">      
      <div class="row row-deck row-cards">
          <div class="col-12">
              <div class="row row-deck row-cards">
                  <div class="col-lg-12">
                      <div>
                        <div class="card-header">
                          <h3 class="card-title">Maaş Hesaplama İşlemleri</h3>
                        </div>
                        {% include post-sharing.html lang=lang %}
                        <div class="card-body">
                          <div class="mb-3">
                            <label class="form-label required">Maaş Şablonları</label>
                            <div>
                              <select type="text" class="form-select" placeholder="Seçiniz" id="maaslarsablon" value="">
                                  <option value="0" selected>Seçiniz</option>	
                                  <option value="1y">En düşük Zabıt Katibi maaşı</option>                                
                                  <option value="4y">En düşük Mübaşir maaşı</option>
                                  <option value="8y">En düşük İnfaz ve Koruma Memuru maaşı</option>
                                  <option value="9y">En düşük Koruma ve Güvenlik (Silahsız) Memuru maaşı</option>                                
                                  <option value="2y">En düşük İcra Katibi maaşı</option>
                                  <option value="3y">En düşük Cezaevi Katibi maaşı</option>
                                  <option value="5y">En düşük Yazı İşleri Müdürü maaşı</option>
                                  <option value="12y">En düşük İdari İşler Müdürü maaşı</option>
                                  <option value="6y">En düşük İcra Müdürü maaşı</option>
                                  <option value="7y">En düşük İcra Müdür Yardımcısı maaşı</option> 
                                  <option value="11y">En düşük Cezaevi Müdürü maaşı</option>
                                  <option value="101y">En yüksek Zabıt Katibi maaşı</option>                                
                                  <option value="104y">En yüksek Mübaşir maaşı</option>
                                  <option value="108y">En yüksek İnfaz ve Koruma Memuru maaşı</option>                                
                                  <option value="109y">En yüksek Koruma ve Güvenlik (Silahsız) Memuru maaşı</option> 
                                  <option value="102y">En yüksek İcra Katibi maaşı</option>
                                  <option value="103y">En yüksek Cezaevi Katibi maaşı</option>
                                  <option value="105y">En yüksek Yazı İşleri Müdürü maaşı</option>                                
                                  <option value="112y">En yüksek İdari İşler Müdürü maaşı</option>
                                  <option value="106y">En yüksek İcra Müdürü maaşı</option>
                                  <option value="107y">En yüksek İcra Müdür Yardımcısı maaşı</option>                                
                                  <option value="111y">En yüksek Cezaevi Müdürü maaşı</option>
                              </select>
                            </div>
                            <small class="form-hint">* Ünvanlara göre en düşük ve en yüksek maaş alabileceği verileri getirmek için seçiniz</a></small>
                          <div class="mb-3">
                            <label class="form-label required">Hesaplama</label>
                            <div>
                              <select type="text" class="form-select" placeholder="Seçiniz" id="hesaplama" value="">
                                  <option value="0" selected>Maaş</option>	
                                  <option value="1">14 Günlük Maaş Farkı</option>                                 
                              </select>
                            </div>
                            <small class="form-hint">* Maaş farkı için seçiniz</a></small>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Ünvanınız</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="unvan" value="">
                                  <option value="0" disabled>Seçiniz</option>
                                  {% for tablo in  site.data.unvanlar.unvan | sort: "adi"  %}
                                    {% if tablo.deger == 1 %}
                                      <option value="{{ tablo.deger }}" selected>{{ tablo.adi }}</option>
                                    {% else %}
                                      <option value="{{ tablo.deger }}">{{ tablo.adi }}</option>
                                    {% endif %}                                    
                                  {% endfor %}                                    
                                </select>
                              </div>
                              <small class="form-hint"></a></small>
                          </div>
                          <div class="mb-3" id="ogretmenalt" style="display: none;">
                            <div class="row x_row_col_1">
                              <div class="col-5">&nbsp;&nbsp;&nbsp;<label class="control-label" for="fname">&nbsp;Kariyer</label></div>
                              <div class="col-7">
                                <div class="row x_row_col_2">
                                  <div class="col-auto">
                                    <label class="control-label x_style_colon" for="fname">:</label>
                                  </div>
                                  <div class="col">
                                    <select class="form-select form-select-sm x_form_select_sm_cstm" id="slcGorevUnvaniSecimi2" name="slcGorevUnvaniSecimi2">                                    
                                      <option value="1" selected="">Öğretmen</option>                                    
                                      <option value="2">Uzman Öğretmen</option>                                    
                                      <option value="3">Başöğretmen</option>                        
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="colOgretmenEkSecimleri" "="">
                              <div class="row x_row_col_1">
                                <div class="col-5">&nbsp;&nbsp;&nbsp;<label class="control-label" for="fname">&nbsp;Alt Görev Ünvanı</label></div>
                                <div class="col-7">
                                  <div class="row x_row_col_2">
                                    <div class="col-auto">
                                      <label class="control-label x_style_colon" for="fname">:</label>
                                    </div>
                                    <div class="col">
                                      <select class="form-select form-select-sm x_form_select_sm_cstm" id="slcAltGorevUnvani" name="slcAltGorevUnvani" onchange="this.form.submit();">
                                        <optgroup label="ÖĞRETMEN">
                                          <option value="1" selected="">ÖĞ-Öğretmen&nbsp;(Bunların&nbsp;Dışında)</option>
                                          <option value="2">ÖĞ-Cezaevlerinde&nbsp;Görevli&nbsp;Olan</option>
                                          <option value="3">ÖĞ-Özel&nbsp;Eğt.&nbsp;Muh.&nbsp;Çoc.&nbsp;Mah.&nbsp;Okullar</option>
                                          <option value="4">ÖĞ-Yatılı&nbsp;İlköğretim&nbsp;Bölge&nbsp;Okulları</option>
                                          <option value="5">ÖĞ-Der.&nbsp;Yab.&nbsp;Dille&nbsp;Okutan&nbsp;(And.&nbsp;Lis.)</option>
                                          <option value="6">ÖĞ-Der.&nbsp;Yab.&nbsp;Dille&nbsp;Okutan&nbsp;(And.&nbsp;M.&nbsp;L.)</option>
                                          <option value="7">ÖĞ-Der.&nbsp;Yab.&nbsp;Dille&nbsp;Okutan&nbsp;(Polis&nbsp;Kol.)</option>
                                          <option value="8">ÖĞ-Der.&nbsp;Yab.&nbsp;Dille&nbsp;Okutan&nbsp;(Askeri.&nbsp;Lis.)</option>
                                          <option value="9">ÖĞ-Yabancı&nbsp;Dil&nbsp;Öğrt.&nbsp;(And.&nbsp;Lis.)</option>
                                          <option value="10">ÖĞ-Yabancı&nbsp;Dil&nbsp;Öğrt.&nbsp;(And.&nbsp;Mes.&nbsp;L.)</option>
                                          <option value="11">ÖĞ-Yabancı&nbsp;Dil&nbsp;Öğrt.&nbsp;(Polis&nbsp;Koleji)</option>
                                          <option value="12">ÖĞ-Yabancı&nbsp;Dil&nbsp;Öğrt.&nbsp;(Askeri.&nbsp;Lis.)</option>
                                          <option value="13">ÖĞ-Fen&nbsp;Grubu&nbsp;Öğretmeni&nbsp;(And.&nbsp;Lis.)</option>
                                          <option value="14">ÖĞ-Fen&nbsp;Grubu&nbsp;Öğretmeni&nbsp;(And.&nbsp;M.&nbsp;L.)</option>
                                          <option value="15">ÖĞ-Fen&nbsp;Grubu&nbsp;Öğretmeni&nbsp;(Polis&nbsp;Kol.)</option>
                                          <option value="16">ÖĞ-Fen&nbsp;Grubu&nbsp;Öğretmeni&nbsp;(Askeri.&nbsp;Lis.)</option>
                                          <option value="17">ÖĞ-Fen&nbsp;Grubu&nbsp;Öğretmeni&nbsp;(Fen&nbsp;Lis.)</option>
                                        </optgroup>
                                        <optgroup label="ŞEF (MESLEKİ TEKNİK OKULLAR)">
                                          <option value="18">ŞF-Bölüm&nbsp;Şefi,&nbsp;Atölye&nbsp;Şefi,&nbsp;Lab.&nbsp;Şefi</option>
                                        </optgroup>
                                        <optgroup label="MÜDÜR YARDIMCISI">
                                          <option value="19">MY-İlköğretim&nbsp;Okulları</option>
                                          <option value="20">MY-Orta&nbsp;Dereceli&nbsp;Okullar</option>
                                          <option value="21">MY-Mesleki&nbsp;ve&nbsp;Teknik&nbsp;Okullar</option>
                                          <option value="22">MY-Azınlık&nbsp;Okulları</option>
                                          <option value="23">MY-Mesleki Eğitim&nbsp;Merkezi</option>
                                          <option value="24">MY-Rehberlik&nbsp;Merkezi</option>
                                          <option value="25">MY-Halk&nbsp;Eğitim&nbsp;Merkezi</option>
                                          <option value="26">MY-Hizmetiçi&nbsp;Eğitim&nbsp;Enstitüsü</option>
                                          <option value="27">MY-Yüksekokullar</option>
                                          <option value="28">MY-Özel&nbsp;Eğt.&nbsp;Muh.&nbsp;Çoc.&nbsp;Mah.&nbsp;Okullar</option>
                                          <option value="29">MY-Yatılı&nbsp;İlköğretim&nbsp;Bölge&nbsp;Okulları</option>
                                          <option value="30">MY-Anadolu&nbsp;Liseleri</option>
                                          <option value="31">MY-Anadolu&nbsp;Meslek&nbsp;Liseleri</option>
                                          <option value="32">MY-Polis&nbsp;Koleji</option>
                                          <option value="33">MY-Askeri&nbsp;Liseler</option>
                                          <option value="34">MY-Fen&nbsp;Liseleri</option>
                                        </optgroup>
                                        <optgroup label="MÜDÜR">
                                          <option value="35">MD-İlköğretim&nbsp;Okulları</option>
                                          <option value="36">MD-Orta&nbsp;Dereceli&nbsp;Okullar</option>
                                          <option value="37">MD-Mesleki&nbsp;ve&nbsp;Teknik&nbsp;Okullar</option>
                                          <option value="38">MD-Azınlık&nbsp;Okulları</option>
                                          <option value="39">MD-Mesleki&nbsp;Eğitim&nbsp;Merkezi</option>
                                          <option value="40">MD-Rehberlik&nbsp;Merkezi</option>
                                          <option value="41">MD-Halk&nbsp;Eğitim&nbsp;Merkezi</option>
                                          <option value="42">MD-Hizmetiçi&nbsp;Eğitim&nbsp;Enstitüsü</option>
                                          <option value="43">MD-Yüksekokullar</option>
                                          <option value="44">MD-Özel&nbsp;Eğt.&nbsp;Muh.&nbsp;Çoc.&nbsp;Mah.&nbsp;Okullar</option>
                                          <option value="45">MD-Yatılı&nbsp;İlköğretim&nbsp;Bölge&nbsp;Okulları</option>
                                          <option value="46">MD-Anadolu&nbsp;Liseleri</option>
                                          <option value="47">MD-Anadolu&nbsp;Meslek&nbsp;Liseleri</option>
                                          <option value="48">MD-Polis&nbsp;Koleji</option>
                                          <option value="49">MD-Askeri&nbsp;Liseler</option>
                                          <option value="50">MD-Fen&nbsp;Liseleri</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row x_row_col_1">
                                <div class="col-5">&nbsp;&nbsp;&nbsp;<label class="control-label" for="fname">&nbsp;Alan (Eğitim Yılı)</label></div>
                                <div class="col-7">
                                  <div class="row x_row_col_2">
                                    <div class="col-auto">
                                      <label class="control-label x_style_colon" for="fname">:</label>
                                    </div>
                                    <div class="col">
                                      <select class="form-select form-select-sm x_form_select_sm_cstm" id="slcAlan" name="slcAlan">
                                        <option value="0" selected="">Hiçbiri</option>
                                        <optgroup label="4 YILLIK">
                                          <option value="1">Adalet (4)</option>
                                          <option value="2">Aile ve Tüketici Hizmetleri (4)</option>
                                          <option value="3">Ayakkabı ve Saraciye Teknolojisi (4)</option>
                                          <option value="4">Bahçecilik (4)</option>
                                          <option value="5">Bilişim Teknolojileri (4)</option>
                                          <option value="6">Biyomedikal Cihaz Teknolojileri (4)</option>
                                          <option value="7">Büro Yönetimi (4)</option>
                                          <option value="8">Çocuk Gelişimi ve Eğitimi (4)</option>
                                          <option value="9">Denizcilik (4)</option>
                                          <option value="10">Eğlence Hizmetleri (4)</option>
                                          <option value="11">El Sanatları Teknolojisi (4)</option>
                                          <option value="12">Elektrik-Elektronik Teknolojisi (4)</option>
                                          <option value="13">Endüstriyel Otomasyon Tekn. (4)</option>
                                          <option value="14">Gazetecilik (4)</option>
                                          <option value="15">Gemi Yapımı (4)</option>
                                          <option value="16">Gıda Teknolojisi (4)</option>
                                          <option value="17">Giyim Üretim Teknolojisi (4)</option>
                                          <option value="18">Grafik ve Fotoğraf (4)</option>
                                          <option value="19">Güzellik ve Saç Bakım Hizmetleri (4)</option>
                                          <option value="20">Halkla İlişkiler ve Org. Hiz. (4)</option>
                                          <option value="21">Harita-Tapu-Kadastro (4)</option>
                                          <option value="22">Hasta ve Yaşlı Hizmetleri (4)</option>
                                          <option value="23">Hayvan Sağlığı (4)</option>
                                          <option value="24">Hayvan Yetiştiriciliği (4)</option>
                                          <option value="25">İnşaat Teknolojisi (4)</option>
                                          <option value="26">İtfaiyecilik ve Yangın Güvenliği (4)</option>
                                          <option value="27">Kimya/Kimya Teknolojisi (4)</option>
                                          <option value="28">Konaklama ve Seyahat Hiz. (4)</option>
                                          <option value="29">Kuyumculuk Teknolojisi (4)</option>
                                          <option value="30">Laboratuvar Hizmetleri (4)</option>
                                          <option value="31">Makine Teknolojisi (4)</option>
                                          <option value="32">Matbaa (4)</option>
                                          <option value="33">Metal Teknolojisi (4)</option>
                                          <option value="34">Metalürji Teknolojisi (4)</option>
                                          <option value="35">Meteoroloji (4)</option>
                                          <option value="36">Mobilya ve İç Mekan Tasarımı (4)</option>
                                          <option value="37">Motorlu Araçlar Teknolojisi (4)</option>
                                          <option value="38">Muhasebe ve Finansman (4)</option>
                                          <option value="39">Müzik Aletleri Yapımı</option>
                                          <option value="40">Okulöncesi Öğr. (Uyg.Snf.V.) (4)</option>
                                          <option value="41">Pazarlama ve Perakende (4)</option>
                                          <option value="42">Plastik Teknolojisi (4)</option>
                                          <option value="43">Radvo-Televizyon (4)</option>
                                          <option value="44">Raylı Sistemler Teknolojisi (4)</option>
                                          <option value="45">Sağlık (4)</option>
                                          <option value="46">Sanat ve Tasarım (4)</option>
                                          <option value="47">Seramik ve Cam Teknolojisi (4)</option>
                                          <option value="48">Tarım Teknolojileri (4)</option>
                                          <option value="49">Tasarım Teknolojileri (4)</option>
                                          <option value="50">Tekstil Teknolojisi (4)</option>
                                          <option value="51">Tesisat Tekn. ve İklimlendirme (4)</option>
                                          <option value="52">Uçak Bakımı (4)</option>
                                          <option value="53">Ulaştırma Hizmetleri (4)</option>
                                          <option value="54">Yenilenebilir Enerji Teknolojileri (4)</option>
                                          <option value="55">Yiyecek İçecek Hizmetleri (4)</option>
                                        </optgroup>
                                        <optgroup label="2 YILLIK">
                                          <option value="56">Adalet (2)</option>
                                          <option value="57">Aile ve Tüketici Hizmetleri (2)</option>
                                          <option value="58">Ayakkabı ve Saraciye Teknolojisi (2)</option>
                                          <option value="59">Bahçecilik (2)</option>
                                          <option value="60">Bilişim Teknolojileri (2)</option>
                                          <option value="61">Biyomedikal Cihaz Teknolojileri (2)</option>
                                          <option value="62">Büro Yönetimi (2)</option>
                                          <option value="63">Çocuk Gelişimi ve Eğitimi (2)</option>
                                          <option value="64">Denizcilik (2)</option>
                                          <option value="65">Eğlence Hizmetleri (2)</option>
                                          <option value="66">El Sanatları Teknolojisi (2)</option>
                                          <option value="67">Elektrik-Elektronik Teknolojisi (2)</option>
                                          <option value="68">Endüstriyel Otomasyon Tekn. (2)</option>
                                          <option value="69">Gazetecilik (2)</option>
                                          <option value="70">Gemi Yapımı (2)</option>
                                          <option value="71">Gıda Teknolojisi (2)</option>
                                          <option value="72">Giyim Üretim Teknolojisi (2)</option>
                                          <option value="73">Grafik ve Fotoğraf (2)</option>
                                          <option value="74">Güzellik ve Saç Bakım Hizmetleri (2)</option>
                                          <option value="75">Halkla İlişkiler ve Org. Hiz. (2)</option>
                                          <option value="76">Harita-Tapu-Kadastro (2)</option>
                                          <option value="77">Hasta ve Yaşlı Hizmetleri (2)</option>
                                          <option value="78">Hayvan Sağlığı (2)</option>
                                          <option value="79">Hayvan Yetiştiriciliği (2)</option>
                                          <option value="80">İnşaat Teknolojisi (2)</option>
                                          <option value="81">İtfaiyecilik ve Yangın Güvenliği (2)</option>
                                          <option value="82">Kimya/Kimya Teknolojisi (2)</option>
                                          <option value="83">Konaklama ve Seyahat Hiz. (2)</option>
                                          <option value="84">Kuyumculuk Teknolojisi (2)</option>
                                          <option value="85">Laboratuvar Hizmetleri (2)</option>
                                          <option value="86">Makine Teknolojisi (2)</option>
                                          <option value="87">Matbaa (2)</option>
                                          <option value="88">Metal Teknolojisi (2)</option>
                                          <option value="89">Metalürji Teknolojisi (2)</option>
                                          <option value="90">Meteoroloji (2)</option>
                                          <option value="91">Mobilya ve İç Mekan Tasarımı (2)</option>
                                          <option value="92">Motorlu Araçlar Teknolojisi (2)</option>
                                          <option value="93">Muhasebe ve Finansman (2)</option>
                                          <option value="94">Müzik Aletleri Yapımı (2)</option>
                                          <option value="95">Okulöncesi Öğr. (Uyg.Snf.V.) (2)</option>
                                          <option value="96">Pazarlama ve Perakende (2)</option>
                                          <option value="97">Plastik Teknolojisi (2)</option>
                                          <option value="98">Radvo-Televizyon (2)</option>
                                          <option value="99">Raylı Sistemler Teknolojisi (2)</option>
                                          <option value="100">Sağlık (2)</option>
                                          <option value="101">Sanat ve Tasarım (2)</option>
                                          <option value="102">Seramik ve Cam Teknolojisi (2)</option>
                                          <option value="103">Tarım Teknolojileri (2)</option>
                                          <option value="104">Tasarım Teknolojileri (2)</option>
                                          <option value="105">Tekstil Teknolojisi (2)</option>
                                          <option value="106">Tesisat Tekn. ve İklimlendirme (2)</option>
                                          <option value="107">Uçak Bakımı (2)</option>
                                          <option value="108">Ulaştırma Hizmetleri (2)</option>
                                          <option value="109">Yenilenebilir Enerji Teknolojileri (2)</option>
                                          <option value="110">Yiyecek İçecek Hizmetleri (2)</option>
                                        </optgroup>
                                      </select>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="row x_row_col_1">
                                <div class="col-5">&nbsp;&nbsp;&nbsp;<label class="control-label" for="fname">&nbsp;Belleticilik Görevi</label></div>
                                <div class="col-7">
                                  <div class="row x_row_col_2">
                                    <div class="col-auto">
                                      <label class="control-label x_style_colon" for="fname">:</label>
                                    </div>
                                    <div class="col">
                                     <input type="checkbox" name="chkBelleticilikGorevi" id="chkBelleticilikGorevi" data-toggle="toggle" data-on="Var" data-off="Yok" data-onstyle="success" data-offstyle="danger" data-size="sm">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Tabi olduğu Kanun</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="tabikanun" value="">
                                    <option value="0" disabled>Seçiniz</option>	
                                    <option value="1" selected>5510 - (SGK Girişi : 01/10/2008 sonrası) </option>
                                    <option value="2">5434 - (SGK Girişi : 01/10/2008 öncesi)</option>
                                     
                                </select>
                              </div>
                              <small class="form-hint">				</a></small>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Mezuniyet</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="mezuniyet" value="">
                                    <option value="0" disabled>Seçiniz</option>	
                                    <option value="1" selected>Önlisans veya Lisans</option>
                                    <option value="2">Lise ve diğerleri</option>
                                     
                                </select>
                              </div>
                              <small class="form-hint">				</a></small>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Derece / Kademe</label>
                              <div>									  
                                <select type="text" class="form-select" placeholder="Seçiniz" id="kadroderece" value="">
                                  <option value="1/1">1/1</option>
                                  <option value="1/2">1/2</option>
                                  <option value="1/3">1/3</option>
                                  <option value="1/4">1/4</option>
                                  <option value="2/1">2/1</option>
                                  <option value="2/2">2/2</option>
                                  <option value="2/3">2/3</option>
                                  <option value="2/4">2/4</option>
                                  <option value="2/5">2/5</option>
                                  <option value="2/6">2/6</option>
                                  <option value="3/1">3/1</option>
                                  <option value="3/2">3/2</option>
                                  <option value="3/3">3/3</option>
                                  <option value="3/4">3/4</option>
                                  <option value="3/5">3/5</option>
                                  <option value="3/6">3/6</option>		
                                  <option value="3/7">3/7</option>
                                  <option value="3/8">3/8</option>		
                                  <option value="4/1" selected="">4/1</option>
                                  <option value="4/2">4/2</option>
                                  <option value="4/3">4/3</option>
                                  <option value="4/4">4/4</option>
                                  <option value="4/5">4/5</option>
                                  <option value="4/6">4/6</option>		
                                  <option value="4/7">4/7</option>
                                  <option value="4/8">4/8</option>		
                                  <option value="4/9">4/9</option>	
                                  <option value="5/1">5/1</option>
                                  <option value="5/2">5/2</option>
                                  <option value="5/3">5/3</option>
                                  <option value="5/4">5/4</option>
                                  <option value="5/5">5/5</option>
                                  <option value="5/6">5/6</option>		
                                  <option value="5/7">5/7</option>
                                  <option value="5/8">5/8</option>		
                                  <option value="5/9">5/9</option>
                                  <option value="6/1">6/1</option>
                                  <option value="6/2">6/2</option>
                                  <option value="6/3">6/3</option>
                                  <option value="6/4">6/4</option>
                                  <option value="6/5">6/5</option>
                                  <option value="6/6">6/6</option>		
                                  <option value="6/7">6/7</option>
                                  <option value="6/8">6/8</option>		
                                  <option value="6/9">6/9</option>
                                  <option value="7/1">7/1</option>
                                  <option value="7/2">7/2</option>
                                  <option value="7/3">7/3</option>
                                  <option value="7/4">7/4</option>
                                  <option value="7/5">7/5</option>
                                  <option value="7/6">7/6</option>		
                                  <option value="7/7">7/7</option>
                                  <option value="7/8">7/8</option>		
                                  <option value="7/9">7/9</option>
                                  <option value="8/1">8/1</option>
                                  <option value="8/2">8/2</option>
                                  <option value="8/3">8/3</option>
                                  <option value="8/4">8/4</option>
                                  <option value="8/5">8/5</option>
                                  <option value="8/6">8/6</option>		
                                  <option value="8/7">8/7</option>
                                  <option value="8/8">8/8</option>		
                                  <option value="8/9">8/9</option>
                                  <option value="9/1">9/1</option>
                                  <option value="9/2">9/2</option>
                                  <option value="9/3">9/3</option>
                                  <option value="9/4">9/4</option>
                                  <option value="9/5">9/5</option>
                                  <option value="9/6">9/6</option>		
                                  <option value="9/7">9/7</option>
                                  <option value="9/8">9/8</option>		
                                  <option value="9/9">9/9</option>
                                  <option value="10/1">10/1</option>
                                  <option value="10/2">10/2</option>
                                  <option value="10/3">10/3</option>
                                  <option value="10/4">10/4</option>
                                  <option value="10/5">10/5</option>
                                  <option value="10/6">10/6</option>		
                                  <option value="10/7">10/7</option>
                                  <option value="10/8">10/8</option>		
                                  <option value="10/9">10/9</option>
                                  <option value="11/1">11/1</option>
                                  <option value="11/2">11/2</option>
                                  <option value="11/3">11/3</option>
                                  <option value="11/4">11/4</option>
                                  <option value="11/5">11/5</option>
                                  <option value="11/6">11/6</option>		
                                  <option value="11/7">11/7</option>
                                  <option value="11/8">11/8</option>		
                                  <option value="11/9">11/9</option>
                                  <option value="12/1">12/1</option>
                                  <option value="12/2">12/2</option>
                                  <option value="12/3">12/3</option>
                                  <option value="12/4">12/4</option>
                                  <option value="12/5">12/5</option>
                                  <option value="12/6">12/6</option>		
                                  <option value="12/7">12/7</option>
                                  <option value="12/8">12/8</option>		
                                  <option value="12/9">12/9</option>
                                  <option value="13/1">13/1</option>
                                  <option value="13/2">13/2</option>
                                  <option value="13/3">13/3</option>
                                  <option value="13/4">13/4</option>
                                  <option value="13/5">13/5</option>
                                  <option value="13/6">13/6</option>		
                                  <option value="13/7">13/7</option>
                                  <option value="13/8">13/8</option>		
                                  <option value="13/9">13/9</option>
                                  <option value="14/1">14/1</option>
                                  <option value="14/2">14/2</option>
                                  <option value="14/3">14/3</option>
                                  <option value="14/4">14/4</option>
                                  <option value="14/5">14/5</option>
                                  <option value="14/6">14/6</option>		
                                  <option value="14/7">14/7</option>
                                  <option value="14/8">14/8</option>		
                                  <option value="14/9">14/9</option>
                                  <option value="15/1">15/1</option>
                                  <option value="15/2">15/2</option>
                                  <option value="15/3">15/3</option>
                                  <option value="15/4">15/4</option>
                                  <option value="15/5">15/5</option>
                                  <option value="15/6">15/6</option>		
                                  <option value="15/7">15/7</option>
                                  <option value="15/8">15/8</option>		
                                  <option value="15/9">15/9</option>											  
                                </select>
                              </div>
                          </div>								
                          <div class="mb-3">
                              <label class="form-label required">Hizmet Yılı</label>
                              <div>
                                <input type="number" class="form-control" data-type="currency" placeholder="Kabul edilen değeri giriniz" name="hizmetyili" id="hizmetyili" value="13">
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Medeni Durum</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="medenidurum" value="">
                                    <option value="0">Bekar</option>
                                    <option value="0">Evli (Çalışan)</option>
                                     <option selected="" value="2273">Evli (Eşi çalışmıyor)</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">72 aydan küçük çocuk sayısı</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="cocuk72aydankucuk" value="">
                                    <option selected="" value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">72 aydan büyük çocuk sayısı</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="cocuk72aydanbuyuk" value="">
                                    <option value="0">0</option>
                                    <option selected="" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">72 aydan küçük engelli çocuk sayısı</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="engellicocuk72aydankucuk" value="">
                                    <option selected="" value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">72 aydan büyük engelli çocuk sayısı</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="engellicocuk72aydanbuyuk" value="">
                                    <option selected="" value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Sendika üyesi misiniz</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="sendikauye" value="">
                                    <option selected="" value="2119">Evet</option>
                                    <option value="0">Hayır</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">POLSAN üyesi misiniz</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="polsanuye" value="">
                                    <option selected="" value="0">Hayır</option>
                                    <option  value="1">Evet</option>                                    
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label required">İLKSAN üyesi misiniz</label>
                            <div>
                              <select type="text" class="form-select" placeholder="Seçiniz" id="ilksanuye" value="">
                                  <option selected="" value="0">Hayır</option>
                                  <option  value="1">Evet</option>                                    
                                </select>  
                              <small class="form-hint">
                            </a></small>
                            </div>
                        </div>
                          <div class="mb-3">
                            <label class="form-label required">Taşınır Kayıt Kontrol Yetkilisi?</label>
                            <div>
                              <select type="text" class="form-select" placeholder="Seçiniz" id="tasiniryetkili" value="">
                                  <option value="575">Evet</option>
                                  <option selected="" value="0">Hayır</option>
                                </select>  
                              <small class="form-hint">
                            </a></small>
                            </div>
                        </div>
                          <div class="mb-3">
                              <label class="form-label required">BES (%3) Kesintiniz Var mı? </label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="beskesintisi" value="">
                                    <option value="1">Evet</option>
                                    <option selected="" value="0">Hayır</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Görev yeriniz</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="gorevyeri" value="">
                                    <option value="15">İstanbul / Ankara / İzmir</option>
                                    <option selected="" value="10">Büyükşehirler</option>
                                    <option value="5">Diğer İller</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Yabancı Dil Seviyeniz</label>
                              <div>
                                <select type="text" class="form-select" placeholder="Seçiniz" id="yabancidil" value="">
                                    <option selected="" value="0">Yok</option>
                                    <option value="750">A Düzeyi</option>
                                    <option value="750">B Düzeyi</option>
                                    <option value="500">C Düzeyi</option>
                                    <option value="250">D Düzeyi</option>
                                  </select>  
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>
                          <div class="mb-3">
                              <label class="form-label required">Haciz / Nafaka</label>
                              <div>
                               <input type="text" class="form-control" value="0" name="haciz" id="haciz" placeholder="Maaş haczi varsa miktarı">
                                <small class="form-hint">
                              </a></small>
                              </div>
                          </div>								
                          <div class="mb-3">
                              <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
                                  <a type="submit" class="btn btn-primary w-100 text-white" id ="yenimaashesapla" name="yenimaashesapla">
                                    Hesapla
                                  </a>
                              </div>
                              <small class="form-hint"></small>
                          </div>
                          <div class="mb-3" id="sayacdiv" style="display: none"> 
                            <blockquote class="prompt-tip">
                              <p id="sayac"></p>
                            </blockquote>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              
          </div>
          <article class="card-wrapper"> 
            <!--- Reklam --->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2142653859194978"
            crossorigin="anonymous"></script>
            <!-- Test -->
            <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2142653859194978"
            data-ad-slot="3907106401"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </article>
          <div class="col-12">
              <div class="row row-deck row-cards">
                  <div class="col-lg-12">
                      <div>
                        
                          <div class="d-flex align-items-center justify-content-center h-100" id="hesapsonuchtml" name="hesapsonuchtml"> 
                          
                          
                          </div>
                      </div>
                    </div>
              </div>
              
          </div>
      </div>
    </div>
  </div>
